<div class="index-content">
    <img src="images/beer.png" width="450" height="450">
    <div class="button-wrapper">
         <a href="/beers" class="button-blue">Check the beers</a>
        <a href="/random-beer" class="button-blue">Check a Random Beer!</a>
    </div>
</div>